/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap");
/* Universial Styles */
* {
  box-sizing: border-box;
}

body,
html {
  background: #f5f7f8;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

/* Default / Desktop Header Navigation */
header {
  background: #fff;
  min-width: 320px;
  border-bottom: 1px solid #dbdbdb;
}
header .header-container {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 85px;
  margin: 0 auto;
  padding: 0px 25px;
  width: 100%;
  max-width: 1320px;
}
header .header-container .site-logo-container {
  width: 230px;
}
header .header-container .site-logo-container #site-logo {
  margin: 0;
}
header .header-container .site-logo-container #site-logo a {
  text-decoration: none;
  color: #000;
}
header .header-container .mobile-nav-hamburger {
  display: none;
  position: relative;
  top: 4px;
  cursor: pointer;
}
header .header-container .mobile-nav-hamburger svg {
  width: 32px;
  fill: #02ad88;
}
header .header-container #main-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .header-container #main-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
header .header-container #main-navigation ul li {
  margin-left: 25px;
}
header .header-container #main-navigation ul a {
  text-decoration: none;
  color: #343f52;
  font-size: 1rem;
  padding: 24px 12px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .header-container #main-navigation ul a:hover {
  color: #02ad88;
}
header .header-container #main-navigation ul .sign-up {
  cursor: pointer;
}
header .header-container #main-navigation ul .sign-up a {
  color: #fff;
  padding: 11px 19px;
  background: #02ad88;
  border-radius: 23px;
}
header .header-container #main-navigation ul .sign-up a:hover {
  box-shadow: 0 0 10px #02ad88;
}
header .header-container #main-navigation .drop-down-button,
header .header-container #main-navigation .drop-down-content {
  display: flex;
}
header .header-container #main-navigation .drop-down-button {
  display: none;
}
header .header-container #main-navigation .nav-down-arrow {
  display: none;
  width: 17px;
  height: 13px;
  fill: #02ad88;
  position: relative;
  top: 2px;
}
header .dashboard-header #main-navigation ul li a {
  color: #6E84A3;
  font-weight: 500;
}
header .dashboard-header #main-navigation ul li a.active {
  color: #343f52;
  font-weight: 600;
}

/* Tablet Header Navigation */
@media (max-width: 810px) {
  header .header-container #main-navigation .drop-down-button {
    display: flex;
    cursor: pointer;
  }
  header .header-container #main-navigation .nav-down-arrow {
    display: inline-block;
  }
  header .header-container #main-navigation .nav-links:hover .drop-down-content {
    display: block;
  }
  header .header-container #main-navigation .drop-down-content {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 70px;
  }
  header .header-container #main-navigation .drop-down-content li {
    line-height: 44px;
    background: #fbfbfb;
    width: 157px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: 1px solid #e1e1e1;
  }
  header .header-container #main-navigation .drop-down-content li:last-child {
    border-bottom: 0;
  }
}
@media (max-width: 600px) {
  header {
    background: #fff;
  }
  header .header-container {
    justify-content: space-between;
  }
  header .header-container .site-logo-container #site-logo {
    width: 210px;
  }
  header .header-container .mobile-nav-hamburger {
    display: block;
  }
  header .header-container #main-navigation.open {
    height: 100%;
  }
  header .header-container #main-navigation {
    position: absolute;
    width: 100%;
    left: 0;
    top: 85px;
    height: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  header .header-container #main-navigation .nav-links,
header .header-container #main-navigation .get-started-links {
    display: none;
  }
  header .header-container #main-navigation .nav-links {
    display: flex;
    position: absolute;
    width: 100%;
    background: #fff;
    left: 0px;
    flex-direction: column;
    z-index: 1;
  }
  header .header-container #main-navigation .nav-down-arrow {
    display: none;
  }
  header .header-container #main-navigation .drop-down-content {
    display: flex;
    position: relative;
    top: 0;
  }
  header .header-container #main-navigation .drop-down-content li {
    line-height: 18px;
    background: #fff;
    width: 100%;
    margin: 0;
    padding-left: 20px;
    box-shadow: none;
    border-left: 5px solid #02ad88;
  }
  header .header-container #main-navigation .drop-down-content li:last-child {
    border-bottom: 1px solid #e1e1e1;
  }
  header .header-container #main-navigation .drop-down-content a {
    display: block;
  }
  header .header-container #main-navigation .drop-down-button {
    display: none;
  }
  header .header-container #main-navigation .get-started-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 201px;
    width: 100%;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  header .header-container #main-navigation .get-started-links .sign-up {
    height: 66px;
  }
  header .header-container #main-navigation .get-started-links .sign-up a {
    position: relative;
    color: #343f52;
    background: none;
    padding: 24px 12px;
  }
  header .header-container #main-navigation .get-started-links .sign-up a:hover {
    box-shadow: none;
    color: #02ad88;
  }
  header .header-container #main-navigation .get-started-links li {
    margin: 0;
    padding-left: 20px;
    border-left: 5px solid #02ad88;
    border-bottom: 1px solid #e1e1e1;
  }
  header .header-container #main-navigation .get-started-links li:last-child {
    border-bottom: 0;
  }
  header .header-container #main-navigation .get-started-links li a {
    display: block;
  }
}
/* Article pages */
#article-page #article {
  min-width: 320px;
  margin: 25px 25px;
}
#article-page #article .article-container {
  margin: 0 auto;
  padding: 25px 40px;
  width: 100%;
  max-width: 1320px;
  background: #fff;
}
#article-page #article .article-container .article-title {
  margin-bottom: 35px;
}
#article-page #article .article-container .txt-center {
  text-align: center;
}

/* Footer */
footer {
  min-width: 320px;
  background: #fff;
  font-size: 0.9rem;
  width: 100%;
  padding: 50px 25px;
  text-align: center;
}
footer .footer-container .authors,
footer .footer-container .copyright {
  margin-bottom: 35px;
  display: block;
}
footer .footer-container .authors a,
footer .footer-container .copyright a {
  text-decoration: none;
  color: #02ad88;
  font-weight: 600;
}
footer .footer-container .footer-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
footer .footer-container .footer-menu a,
footer .footer-container .footer-menu span {
  margin: 5px 13px;
  display: block;
}
footer .footer-container .footer-menu a {
  text-decoration: none;
  color: #343f52;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
footer .footer-container .footer-menu a:hover {
  color: #02ad88;
}

/* Full screen form pages - login, register, change-password and reset-password pages */
#form-page {
  background: #f5f7f8;
}
#form-page .form {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  background: #f5f7f8;
  border-radius: 2px;
  position: relative;
}
#form-page .form h3 {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 40px;
}
#form-page .form .form-label {
  margin-top: 20px;
  margin-bottom: 8px;
  display: block;
}
#form-page .form input {
  display: block;
  border-radius: 0;
  border: 0;
  background: #e8eeef;
  padding: 15px;
  width: 100%;
}
#form-page .form .form-btn {
  margin-bottom: 0;
  margin-top: 20px;
  background: #02ad88;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}
#form-page .form .form-btn:hover {
  box-shadow: 0 0 10px #02ad88;
}
#form-page .form .terms-txt {
  font-size: 0.9rem;
  display: block;
  padding-top: 12px;
}
#form-page .form .existing-user-txt {
  display: block;
  text-align: center;
  margin-top: 25px;
}
#form-page .form .new-user-txt {
  display: block;
  text-align: center;
  margin-top: 25px;
}
#form-page .form .forgotten-pass-txt {
  display: inline-block;
  margin: 12px 0px;
  font-size: 0.9rem;
}
#form-page .form .forgotten-pass-txt a {
  text-decoration: none;
}
#form-page .form .error {
  color: red;
}
#form-page .form .checkbox {
  display: inline-block;
  width: 182px;
  margin: 12px 0px;
  font-size: 15px;
}
#form-page .form .checkbox #remember_me {
  display: inline-block;
  width: 17px;
  position: relative;
  top: 1px;
}

@media only screen and (max-width: 395px) {
  #form-page .form {
    width: 100%;
    min-width: 320px;
  }
}
/* User profile */
#user-dashboard-nav {
  height: 50px;
  background: #02ad88;
  padding: 0px 25px;
}
#user-dashboard-nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  min-width: 320px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-dashboard-nav ul li {
  height: 100%;
  line-height: 50px;
  padding: 0px 18px;
  margin-right: 10px;
  background: #05a381;
}
#user-dashboard-nav ul li a {
  text-decoration: none;
  color: #fff;
}

#user-dashboard {
  width: 100%;
}
#user-dashboard .user-dashboard-container {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  padding: 25px;
  flex-direction: column;
}
#user-dashboard .user-dashboard-container .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #fff;
  padding: 0px 25px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid #e2e5e7;
  width: 100%;
}
#user-dashboard .user-dashboard-container .title .new-form-btn {
  color: #fff;
  padding: 11px 19px;
  background: #02ad88;
  border-radius: 23px;
  height: 41px;
  text-decoration: none;
  position: relative;
  top: 14px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#user-dashboard .user-dashboard-container .title .new-form-btn:hover {
  box-shadow: 0 0 10px #02ad88;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 100%;
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
}
#user-dashboard .user-dashboard-container .user-forms .form-entry p.no-entries-txt {
  padding: 25px;
  width: 100%;
  text-align: center;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry i.settings-gear-svg {
  background-image: url("../images/settings-gear.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 23px;
  height: 25px;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry i.settings-gear-svg:hover {
  cursor: pointer;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry .entry-dropdown {
  position: relative;
  display: inline-block;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry .entry-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #f1f0f0;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  right: 0px;
  z-index: 1;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry .entry-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry .entry-dropdown-content a:hover {
  background-color: #ddd;
}
#user-dashboard .user-dashboard-container .user-forms .form-entry .entry-dropdown:hover .entry-dropdown-content {
  display: block;
}

#user-settings {
  min-width: 320px;
}
#user-settings .user-settings-container {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  padding: 25px;
}
#user-settings .user-settings-container .row {
  display: flex;
  flex-wrap: wrap;
}
#user-settings .user-settings-container p {
  margin-right: 7px;
  font-weight: 500;
  color: #343f52;
}
#user-settings .user-settings-container span {
  color: #02ad88;
}
#user-settings .user-settings-container .title {
  padding: 17px 25px 16px 25px;
  display: flex;
  justify-content: space-between;
  height: 68px;
  border-bottom: 1px solid #e2e5e7;
  align-items: center;
}
#user-settings .user-settings-container .help {
  width: 25%;
  position: relative;
  background: #fff;
  height: 400px;
  display: flex;
  margin-right: 25px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#user-settings .user-settings-container .help h4 {
  font-size: 2em;
  margin: 0;
}
#user-settings .user-settings-container .help p {
  margin: 32px 0px;
}
#user-settings .user-settings-container .help svg {
  width: 71px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  fill: #02ad88a6;
}
#user-settings .user-settings-container .help .support-btn {
  color: #fff;
  padding: 11px 19px;
  background: #02ad88;
  border-radius: 23px;
  text-decoration: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#user-settings .user-settings-container .help .support-btn:hover {
  box-shadow: 0 0 10px #02ad88;
}
#user-settings .user-settings-container .user-info-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#user-settings .user-settings-container .password-settings-container,
#user-settings .user-settings-container .two-factor-auth-container {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
}
#user-settings .user-settings-container .personal-details-container,
#user-settings .user-settings-container .password-settings-container,
#user-settings .user-settings-container .two-factor-auth-container {
  padding: 16px 25px 25px 54px;
}
#user-settings .user-settings-container .personal-details,
#user-settings .user-settings-container .password-settings {
  background: #fff;
  margin-bottom: 25px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
#user-settings .user-settings-container .two-factor-auth {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

@media (max-width: 810px) {
  #user-settings .user-settings-container .help {
    display: none;
  }
  #user-settings .user-settings-container .user-info-container {
    width: 100%;
  }
}
/* Jquery Modals and overwrites */
.jquery-modal {
  background: #4c4d4d85;
  min-width: 320px;
}
.jquery-modal #personal-details-modal,
.jquery-modal #password-modal,
.jquery-modal #two-factor-modal {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}
.jquery-modal #personal-details-modal h3,
.jquery-modal #password-modal h3,
.jquery-modal #two-factor-modal h3 {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 25px;
  margin-bottom: 30px;
  font-size: 1.25em;
}
.jquery-modal #personal-details-modal input,
.jquery-modal #password-modal input,
.jquery-modal #two-factor-modal input {
  border: 1px solid #dae1e3;
  padding: 13px 16px;
  color: #656565;
  border-radius: 5px;
}
.jquery-modal #personal-details-modal label,
.jquery-modal #password-modal label,
.jquery-modal #two-factor-modal label {
  margin-bottom: 8px;
  color: #4c4d4d;
  font-weight: 500;
}
.jquery-modal #personal-details-modal .update-btn,
.jquery-modal #password-modal .update-btn,
.jquery-modal #two-factor-modal .update-btn {
  width: 100%;
  background: #02ad88;
  border: none;
  color: #fff;
  padding: 10px;
  transition: 0.3s;
  margin-bottom: 12px;
}
.jquery-modal #personal-details-modal .update-btn:hover,
.jquery-modal #password-modal .update-btn:hover,
.jquery-modal #two-factor-modal .update-btn:hover {
  background: #02ad88e3;
  cursor: pointer;
}
.jquery-modal #personal-details-modal .row,
.jquery-modal #password-modal .row,
.jquery-modal #two-factor-modal .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.jquery-modal #personal-details-modal .row .col,
.jquery-modal #password-modal .row .col,
.jquery-modal #two-factor-modal .row .col {
  display: flex;
  flex-direction: column;
}
.jquery-modal #personal-details-modal .row .width-100,
.jquery-modal #password-modal .row .width-100,
.jquery-modal #two-factor-modal .row .width-100 {
  width: 100%;
}

@media only screen and (max-width: 592px) {
  .jquery-modal #personal-details-modal .row,
.jquery-modal #password-modal .row,
.jquery-modal #two-factor-modal .row {
    flex-direction: column !important;
    margin-bottom: 0px;
  }
  .jquery-modal #personal-details-modal .row .col,
.jquery-modal #password-modal .row .col,
.jquery-modal #two-factor-modal .row .col {
    margin-bottom: 25px;
  }
}
/** Google recaptcha on login and sign up page */
#g-recaptcha {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
