/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

/* Universial Styles */
* {
	box-sizing: border-box;
}

$background-color: #f5f7f8;
$secondary-theme-color: #02ad88;
$nav-text-color: #343f52;

body,
html {
	background: $background-color;
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
// 	height: 100%;
}

/* Default / Desktop Header Navigation */
header {
	background: #fff;
	min-width: 320px;
	border-bottom: 1px solid #dbdbdb;

	.header-container {
		font-weight: 600;
		display: flex;
		align-items: center;
		height: 85px;
		margin: 0 auto;
		padding: 0px 25px;
		width: 100%;
		max-width: 1320px;

		.site-logo-container {
			width: 230px;

			#site-logo {
				margin: 0;

				a {
					text-decoration: none;
					color: #000;
				}
			}
		}

		.mobile-nav-hamburger {
			display: none;
			position: relative;
			top: 4px;
			cursor: pointer;

			svg {
				width: 32px;
				fill: $secondary-theme-color;
			}
		}

		#main-navigation {
			display: flex;
			justify-content: space-between;
			width: 100%;

			ul {
				padding: 0;
				margin: 0;
				display: flex;
				list-style-type: none;

				li {
					margin-left: 25px;
				}

				a {
					text-decoration: none;
					color: $nav-text-color;
					font-size: 1rem;
					padding: 24px 12px;

					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;
					-ms-transition: 0.3s;
					-o-transition: 0.3s;
					transition: 0.3s;

					&:hover {
						color: $secondary-theme-color;
					}
				}

				.sign-up {
					cursor: pointer;

					a {
						color: #fff;
						padding: 11px 19px;
						background: $secondary-theme-color;
						border-radius: 23px;

						&:hover {
							box-shadow: 0 0 10px $secondary-theme-color;
						}
					}
				}
			}

			.drop-down-button,
			.drop-down-content {
				display: flex;
			}

			.drop-down-button {
				display: none;
			}

			.nav-down-arrow {
				display: none;
				width: 17px;
				height: 13px;
				fill: $secondary-theme-color;
				position: relative;
				top: 2px;
			}
		}
	}

	.dashboard-header {
        #main-navigation {
            ul {
                li {
                    a {
                        color: #6E84A3;
                        font-weight: 500;
                    }

                    a.active {
                        color: #343f52;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #add-form-modal {
    }
}

/* Tablet Header Navigation */
@media (max-width: 810px) {
	header {

		.header-container {

			#main-navigation {

				.drop-down-button {
					display: flex;
					cursor: pointer;
				}

				.nav-down-arrow {
					display: inline-block;
				}

				// on hover show drop down content
				.nav-links:hover .drop-down-content {
					display: block;
				}

				.drop-down-content {
					display: none;
					position: absolute;
					flex-direction: column;
					top: 70px;

					li {
						line-height: 44px;
						background: #fbfbfb;
						width: 157px;
						box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
						border-bottom: 1px solid #e1e1e1;

						&:last-child {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}

// Mobile navigation
@media (max-width: 600px) {

	header {
		background: #fff;

		.header-container {
			justify-content: space-between;

			.site-logo-container {
				#site-logo {
					width: 210px;
				}
			}

			.mobile-nav-hamburger {
				display: block;
			}

			#main-navigation.open {
				height: 100%;
			}

			#main-navigation {
				position: absolute;
				width: 100%;
				left: 0;
				top: 85px;
				height: 0;
				overflow: hidden;

				-webkit-transition: 1s;
				-moz-transition: 1s;
				-ms-transition: 1s;
				-o-transition: 1s;
				transition: 1s;

				.nav-links,
				.get-started-links {
					display: none;
				}

				.nav-links {
					display: flex;
					position: absolute;
					width: 100%;
					background: #fff;
					left: 0px;
					flex-direction: column;

					// removes box shadow on top from get-started-links
					z-index: 1;
				}

				.nav-down-arrow {
					display: none;
				}

				.drop-down-content {
					display: flex;
					position: relative;
					top: 0;

					li {
						line-height: 18px;
						background: #fff;
						width: 100%;
						margin: 0;
						padding-left: 20px;
						box-shadow: none;
						border-left: 5px solid $secondary-theme-color;

						&:last-child {
							border-bottom: 1px solid #e1e1e1;
						}
					}

					a {
						display: block;
					}
				}

				.drop-down-button {
					display: none;
				}

				.get-started-links {
					display: flex;
					flex-direction: column;
					position: absolute;
					left: 0;
					top: 201px;
					width: 100%;
					background: #fff;
					box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;

					.sign-up {
						height: 66px;

						a {
							position: relative;
							color: $nav-text-color;
							background: none;
							padding: 24px 12px;

							&:hover {
								box-shadow: none;
								color: $secondary-theme-color;
							}
						}
					}

					li {
						margin: 0;
						padding-left: 20px;
						border-left: 5px solid $secondary-theme-color;
						border-bottom: 1px solid #e1e1e1;

						&:last-child {
							border-bottom: 0;
						}

						a {
							display: block;
						}
					}

				}

			}
		}
	}
}

/* Article pages */
#article-page {
	#article {
		min-width: 320px;
		margin: 25px 25px;

		.article-container {
			margin: 0 auto;
			padding: 25px 40px;
			width: 100%;
			max-width: 1320px;
			background: #fff;

			.article-title {
				margin-bottom: 35px;
			}

			.txt-center {
				text-align: center;
			}
		}

	}
}

/* Footer */
footer {
	min-width: 320px;
	background: #fff;
	font-size: 0.9rem;
	width: 100%;
	padding: 50px 25px;
	text-align: center;

	.footer-container {

		.authors,
		.copyright {
			margin-bottom: 35px;
			display: block;

			a {
				text-decoration: none;
				color: $secondary-theme-color;
				font-weight: 600;
			}
		}

		.footer-menu {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding-left: 0;
			list-style: none;

			a,
			span {
				margin: 5px 13px;
				display: block;
			}

			a {
				text-decoration: none;
				color: $nav-text-color;
				font-weight: 600;

				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;

				&:hover {
					color: $secondary-theme-color;
				}
			}
		}
	}
}

/* Full screen form pages - login, register, change-password and reset-password pages */
#form-page {
	background: $background-color;

	.form {
		width: 400px;
		margin: 0 auto;
		padding: 25px;
		background: $background-color;
		border-radius: 2px;
		position: relative;

		h3 {
			text-align: center;
			font-size: 1.7em;
			margin-bottom: 40px;
		}

		.form-label {
			margin-top: 20px;
			margin-bottom: 8px;
			display: block;
		}

		input {
			display: block;
			border-radius: 0;
			border: 0;
			background: #e8eeef;
			padding: 15px;
			width: 100%;
		}

		.form-btn {
			margin-bottom: 0;
			margin-top: 20px;
			background: $secondary-theme-color;
			border: none;
			color: #fff;
			cursor: pointer;
			border-radius: 30px;
			transition: 0.3s;

			&:hover {
				box-shadow: 0 0 10px $secondary-theme-color;
			}
		}

		.terms-txt {
			font-size: 0.9rem;
			display: block;
			padding-top: 12px;
		}

		.existing-user-txt {
			display: block;
			text-align: center;
			margin-top: 25px;
		}

		.new-user-txt {
			display: block;
			text-align: center;
			margin-top: 25px;
		}

		.forgotten-pass-txt {
            display: inline-block;
            margin: 12px 0px;
			font-size: 0.9rem;

			a {
				text-decoration: none;
			}
		}

		.error {
			color: red;
		}

		.checkbox {
			display: inline-block;
            width: 182px;
            margin: 12px 0px;
			font-size: 15px;

			#remember_me {
				display: inline-block;
				width: 17px;
				position: relative;
				top: 1px;
			}
		}
	}
}

@media only screen and (max-width: 395px) {
	#form-page .form {
		width: 100%;
		min-width: 320px;
	}
}

/* User profile */
#user-dashboard-nav {
	height: 50px;
	background: #02ad88;
	padding: 0px 25px;

	ul {
		margin: 0;
		list-style-type: none;
		padding: 0;
		min-width: 320px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			height: 100%;
			line-height: 50px;
			padding: 0px 18px;
			 margin-right: 10px;
			background: #05a381;

			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}

#user-dashboard {
     width: 100%;

    .user-dashboard-container {
       display: flex;
       max-width: 1320px;
       margin: 0 auto;
       padding: 25px;
       flex-direction: column;

        .title {
            display: flex;
            width: 100%;
            justify-content: space-between;

            background: #fff;
            padding: 0px 25px;
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
            border-radius: 3px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom: 1px solid #e2e5e7;
            width: 100%;


            .new-form-btn {
                color: #fff;
                padding: 11px 19px;
                background: #02ad88;
                border-radius: 23px;
                height: 41px;
                text-decoration: none;
                position: relative;
                top: 14px;

                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;

                &:hover {
                    box-shadow: 0 0 10px $secondary-theme-color;
                }
            }
        }


        .user-forms {

            .form-entry {
                background: #fff;
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                border-radius: 3px;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                width: 100%;
                margin: 16px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 60px;
                column-gap: 25px;
                row-gap: 10px;
                flex-wrap: wrap;

                p.no-entries-txt {
                    padding: 25px;
                    width: 100%;
                    text-align: center;
                }

                 i.settings-gear-svg {
                    background-image: url('../images/settings-gear.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    display: block;
                    width: 23px;
                    height: 25px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                /* The container <div> - needed to position the dropdown content */
                .entry-dropdown {
                  position: relative;
                  display: inline-block;
                }

                /* Dropdown Content (Hidden by Default) */
                .entry-dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: #f9f9f9;
                  border: 1px solid #f1f0f0;
                  border-radius: 5px;
                  min-width: 160px;
                  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                  right: 0px;
                  z-index: 1;
                }

                /* Links inside the dropdown */
                .entry-dropdown-content a {
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }

                /* Change color of dropdown links on hover */
                .entry-dropdown-content a:hover {background-color: #ddd;}

                /* Show the dropdown menu on hover */
                .entry-dropdown:hover .entry-dropdown-content {display: block;}

            }
        }
    }
}


#user-settings {
	min-width: 320px;

	.user-settings-container {
		display: flex;
		max-width: 1320px;
		margin: 0 auto;
		padding: 25px;

		.row {
			display: flex;
			flex-wrap: wrap;
		}

		p {
			margin-right: 7px;
			font-weight: 500;
			color: $nav-text-color;
		}

		h3 {}

		span {
			color: #02ad88;
		}

		.title {
			padding: 17px 25px 16px 25px;
			display: flex;
			justify-content: space-between;
			height: 68px;
			border-bottom: 1px solid #e2e5e7;
			align-items: center;
		}

		.help {
			width: 25%;
			position: relative;
			background: #fff;
			height: 400px;
			display: flex;
			margin-right: 25px;
			box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
			padding: 30px;
			border-radius: 3px;

			flex-direction: column;
			justify-content: center;
			text-align: center;

			h4 {
				font-size: 2em;
				margin: 0;
			}

			p {
				margin: 32px 0px;
			}

			svg {
				width: 71px;
				text-align: center;
				margin: 0 auto;
				margin-bottom: 26px;
				fill: #02ad88a6;
			}

			.support-btn {
				color: #fff;
				padding: 11px 19px;
				background: #02ad88;
				border-radius: 23px;
				text-decoration: none;
				box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;

				&:hover {
					box-shadow: 0 0 10px $secondary-theme-color;
				}
			}
		}

		.user-info-container {
			display: flex;
			flex-direction: column;
			width: 75%;
		}

		.password-settings-container,
		.two-factor-auth-container {
			box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
		}

		.personal-details-container,
		.password-settings-container,
		.two-factor-auth-container {
			padding: 16px 25px 25px 54px;
		}

		.personal-details,
		.password-settings {
			background: #fff;
			margin-bottom: 25px;
			box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
			border-radius: 3px;
		}

		.two-factor-auth {
			background: #fff;
			box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
			border-radius: 3px;
		}
	}
}

@media (max-width: 810px) {
	#user-settings {
		.user-settings-container {
			.help {
				display: none;
			}

			.user-info-container {
				width: 100%;
			}
		}
	}
}

/* Jquery Modals and overwrites */
.jquery-modal {
	background: #4c4d4d85;
	min-width: 320px;

	#personal-details-modal,
	#password-modal,
	#two-factor-modal,
	#add-form-modal,
	#set-up-guide-modal {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 3px;

		h3 {
			border-bottom: 1px solid #dee2e6;
			padding-bottom: 25px;
			margin-bottom: 30px;
			font-size: 1.25em;
		}

		input {
			border: 1px solid #dae1e3;
			padding: 13px 16px;
			color: #656565;
			border-radius: 5px;
		}

		label {
			margin-bottom: 8px;
			color: #4c4d4d;
			font-weight: 500;
		}

		.update-btn, .add-form-btn {
			width: 100%;
			background: #02ad88;
			border: none;
			color: #fff;
			padding: 10px;
			transition: 0.3s;
			margin-bottom: 12px;

			&:hover {
				background: #02ad88e3;
				cursor: pointer;
			}
		}

		.row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 25px;

			.col {
				display: flex;
				flex-direction: column;
			}

			.width-100 {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 592px) {

	.jquery-modal {

		#personal-details-modal,
		#password-modal,
		#two-factor-modal {
			.row {
				flex-direction: column !important;
				margin-bottom: 0px;

				.col {
					margin-bottom: 25px;
				}
			}
		}
	}
}

/** Google recaptcha on login and sign up page */

#g-recaptcha {
	margin-top: 10px;
}