<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Change Password</title>

	<meta name="description"
		  content="Change your password for Demo's application. A free application to easily send form data straight to your email.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<!-- Normalize -->
	<link rel="stylesheet" href="css/normalize.css">
	<!-- CSS Styles -->
	<link rel="stylesheet" href="css/styles.css">
</head>

<body id="form-page">
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="form">

		<h3>Change Password</h3>

		<form id="change-password-form" action="">

			<label class="form-label">New Password *</label>
			<input type="password" name="new_password" id="new-password">

			<label class="form-label">Confirm Password *</label>
			<input type="password" name="confirm_password">

			<input type="submit" value="Change Password" class="form-btn">

		</form>
	</div>

	<!-- jQuery -->
	<script src="js/jquery-3.6.0.min.js"></script>

	<!-- jQuery Validate -->
	<script src="js/jquery-validate-1.19.5.min.js"></script>

	<!-- JS Scripts -->
	<script src="js/scripts.js"></script>
</body>

</html>