<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Homepage</title>

	<meta name="description"
		  content="Demo's application homepage. A free application to easily send form data straight to your email.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<!-- Normalize -->
	<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
	<!-- CSS Styles -->
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body id="homepage">
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div th:replace="fragments/header :: header"> </div>
	<!-- <section id="">
            <div class="container">
                <h1>Create Forms without a backend - We handle it for you and send it straight to your email</h1>
            </div>
        </section>

        <section id="features">
            <div class="container">
                <h2>Features</h2>
            </div>
        </section> -->

	<footer>
		<div class="footer-container">
			<p class="authors">Made with &#9829; by <a href="">Alex</a> & <a href="">Matt</a></p>
			<span class="copyright">Copyright &copy;
				<script>document.write(new Date().getFullYear())</script> <a href="">Demo</a>. All Rights Reserved.
			</span>

			<ul class="footer-menu">
				<li><a href="/">Home</a></li>
				<li><a href="#features">Features</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/sign-up">Sign up</a></li>
				<li><a href="#support">Support</a></li>
				<li><a href="/tos">Terms and Services</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
			</ul>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="../static/assets/js/jquery-3.6.0.min.js" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>

	<!-- jQuery Validate -->
	<script src="../static/assets/js/jquery-validate-1.19.5.min.js" th:src="@{/assets/js/jquery-validate-1.19.5.min.js}"></script>

	<!-- JS Scripts -->
	<script src="../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>
</body>

</html>