<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Login</title>

	<meta name="description"
		  content="Log in to your Demo's application. A free application to easily send form data straight to your email.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<!-- Normalize -->
	<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
	<!-- CSS Styles -->
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>

<body id="form-page">
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="form">

		<h3>Login to Demo</h3>

		<form id="login-form" th:action="@{/login}" th:object="${user}" method="post">

			<div id="message" th:if="${message != null}">
				<p class="error">[[${message}]]</p>
			</div>

			<div id="recaptcha-error">
				<p class="error"></p>
			</div>

			<label class="form-label">Email Address *</label>
			<input th:field="*{email}" type="email" name="email" />

			<label class="form-label">Password *</label>
			<input th:field="*{password}" type="password" name="password" id="password" />

			<label class="checkbox"> 
				<input type="checkbox" value="remember-me" id="remember_me"> Remember me 
			</label>

			<div id="g-recaptcha"></div>

			<span class="forgotten-pass-txt"><a href="reset-password.html">Forgotten your password?</a></span>

			<input type="submit" value="Login" class="form-btn">

		</form>

		<span class="new-user-txt">Don't have an account? <a href="sign-up.html">Sign up here</a></span>

	</div>

	<!-- Google recaptcha -->
	<script src="https://www.google.com/recaptcha/api.js?onload=initializeRecaptcha&render=explicit"
	th:src="@{https://www.google.com/recaptcha/api.js?onload=initializeRecaptcha&render=explicit}" async defer></script>

	<!-- jQuery -->
	<script src="../static/assets/js/jquery-3.6.0.min.js" th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>

	<!-- jQuery Validate -->
	<script src="../static/assets/js/jquery-validate-1.19.5.min.js" th:src="@{/assets/js/jquery-validate-1.19.5.min.js}"></script>

	<!-- JS Scripts -->
	<script src="../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>
</body>

</html>