<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Reset Password</title>

	<meta name="description"
		  content="Recover your account for Demo's application. A free application to easily send form data straight to your email.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<!-- Normalize -->
	<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
	<!-- CSS Styles -->
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body id="form-page">
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="form">

		<h3>Reset Password</h3>

		<form id="reset-password-form" th:action="@{/reset-password}" th:object="${user}" method="post">

			<div id="error" th:if="${error != null}">
				<p class="error">[[${error}]]</p>
			</div>

			<label class="form-label">Email *</label>
			<input type="email" name="recoveryEmail">

			<input type="submit" value="Send recovery link" class="form-btn">

		</form>
	</div>

	<!-- JS Scripts -->
	<script src="../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}" type="module"></script>

</body>

</html>