<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Support</title>

	<meta name="description"
		  content="Demo's application support page. A free application to easily send form data straight to your email.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<!-- Normalize -->
	<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
	<!-- CSS Styles -->
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>

<body>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div th:replace="fragments/header :: header"> </div>

	<div th:replace="fragments/footer :: footer"> </div>

	<!-- JS Scripts -->
	<script src="../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}" type="module"></script>
</body>
</html>